{% extends 'base.html.twig' %}

{% block title %}Fil d'actualités{% endblock %}

{% block body %}

<div>
	<!-- Navbar -->
	<nav class="mb-0 navbar navbar-expand-lg navbar-dark primary-color sticky-top">
		<a class="navbar-brand" href="#">BloG4</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i> Prénom NOM 
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item" href="#">Mon profil</a>
						<a class="dropdown-item" href="#">Déconnexion</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navbar -->
	
	<div class="row w-100">
		<div class="col-2 border-right border-primary z-depth-1-half position-fixed h-100">
			
			<!-- Search form -->
			<div class="form-inline d-flex justify-content-center md-form form-sm mt-3">
				<i class="fas fa-search" aria-hidden="true"></i>
				<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Rechercher une fiche" aria-label="Recherche" id='home_search'>
			</div>
			
			<!-- Material checked -->
			<div class='input-group flex-column'>
				<div class='ml-3 border-bottom border-grey mb-3'>
					<h5>
						Catégories
						<span class='float-right'>
							<a id="home_check_all_categories" title="Cocher toutes les catégories">
								<i class='far fa-check-square'></i>
							</a>
							&nbsp;|&nbsp;
							<a id="home_uncheck_all_categories" title="Décocher toutes les catégories">
								<i class='far fa-square'></i>
							</a>
						</span>
					</h5>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked1" checked>
					<label class="form-check-label" for="materialChecked1">PHP</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked2" checked>
					<label class="form-check-label" for="materialChecked2">SQL</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked3" checked>
					<label class="form-check-label" for="materialChecked3">JavaScript</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked4" checked>
					<label class="form-check-label" for="materialChecked4">Java</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked5" checked>
					<label class="form-check-label" for="materialChecked5">Python</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked6" checked>
					<label class="form-check-label" for="materialChecked6">HTML</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked7" checked>
					<label class="form-check-label" for="materialChecked7">CSS</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked8" checked>
					<label class="form-check-label" for="materialChecked8">Organisation personelle</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked9" checked>
					<label class="form-check-label" for="materialChecked9">Planification</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked10" checked>
					<label class="form-check-label" for="materialChecked10">Gestion de projet</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input home_input_categorie" id="materialChecked11" checked>
					<label class="form-check-label" for="materialChecked11">Communication orale</label>
				</div>
			</div>
		</div>
		<div class="col-10" id="div_home_fil_actualite">
			
			<div class="m-4">
				<section class="dark-grey-text">
					
					<div class="mb-5">
						<div class="d-flex justify-content-between align-items-center">
							<h2 class="font-weight-bold"><i class="fa fa-newspaper mr-2"></i>Fil d'actualités</h2>
							
							<!-- Material checked -->
							<div class="switch">
								<label>
									Date croissant
									<input id='home_order_date' type="checkbox" class="primary-color" checked><span class="lever"></span> 
									Date décroissant
								</label>
							</div>
							
							<button class="btn btn-primary"><i class='fa fa-plus-square mr-2'></i>Publier une fiche</button>
						</div>
					</div>
					
					<!-- Fiche -->
					<div class="row">
						<div class="col-lg-5 col-xl-4">
							<div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
								<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
						</div>
						<div class="col-lg-7 col-xl-8">
							
							<div class='float-right d-flex flex-row'>
								<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
								<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
							</div>
							
							<a href="#!" class="primary-text">
								<h6 class="h6 pb-1"><span class="badge badge-primary"><i class="fas fa-hashtag pr-1"></i>PHP</span></h6>
							</a>
							<h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
							<p class="dark-grey-text">
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br><br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br><br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.
							</p>
							<p>
								<i class='fa fa-user mr-2'></i><a class="font-weight-bold">Prénom Nom</a><br>
								<i class='fa fa-calendar mr-2'></i>19/04/2018 17:32
							</p>
							
							<!-- Commentaires -->
							<section class="mt-5">
								<div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
									<div class="card border-0 grey lighten-4">

										<div class="card-header" role="tab" id="headingTwo1">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
												<h5 class="mb-0">
													2 commentaires <i class="fas fa-angle-down rotate-icon"></i>
												</h5>
											</a>
										</div>

										<div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
											<div class="card-body py-0">
												<div class="media d-block d-md-flex mt-4">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
														Excepteur sint occaecat
														cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</div>

												<div class="media d-block d-md-flex mt-3">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
														atque corrupti
														quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
														officia deserunt mollitia animi, id est laborum et dolorum fuga.
													</div>
												</div>

												<!-- Écrire un commentaire -->
												<div class="form-group mt-4">
													<label for="quickReplyFormComment">Écrire un commentaire</label>
													<textarea class="form-control" id="quickReplyFormComment" rows="3"></textarea>

													<div class="text-right my-1">
														<button class="btn btn-primary btn-sm" type="submit">Publier</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- /Commentaires -->
						</div>
					</div>
					<!-- /Fiche -->

					<hr class="my-5">
					
					<!-- Fiche -->
					<div class="row">
						<div class="col-lg-5 col-xl-4">
							<div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
								<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" alt="Sample image">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
						</div>
						<div class="col-lg-7 col-xl-8">
							
							<div class='float-right d-flex flex-row'>
								<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
								<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
							</div>
							
							<a href="#!" class="primary-text">
								<h6 class="h6 pb-1"><span class="badge badge-primary"><i class="fas fa-hashtag pr-1"></i>JavaScript</span> <span class="badge badge-primary"><i class="fas fa-hashtag pr-1"></i>PHP</span></h6>
							</a>
							<h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
							<p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.</p>
							<p>
								<i class='fa fa-user mr-2'></i><a class="font-weight-bold">Prénom Nom</a><br>
								<i class='fa fa-calendar mr-2'></i>19/04/2018 17:32
							</p>
							<!-- Commentaires -->
							<section class="mt-5">
								<div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">
									<div class="card border-0 grey lighten-4">

										<div class="card-header" role="tab" id="headingTwo1">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
												<h5 class="mb-0">
													3 commentaires <i class="fas fa-angle-down rotate-icon"></i>
												</h5>
											</a>
										</div>

										<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx2">
											<div class="card-body py-0">
												<div class="media d-block d-md-flex mt-4">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
														Excepteur sint occaecat
														cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</div>

												<div class="media d-block d-md-flex mt-3">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
														atque corrupti
														quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
														officia deserunt mollitia animi, id est laborum et dolorum fuga.
													</div>
												</div>
												
												<div class="media d-block d-md-flex mt-4">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
														Excepteur sint occaecat
														cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</div>

												<!-- Écrire un commentaire -->
												<div class="form-group mt-4">
													<label for="quickReplyFormComment">Écrire un commentaire</label>
													<textarea class="form-control" id="quickReplyFormComment" rows="3"></textarea>

													<div class="text-right my-1">
														<button class="btn btn-primary btn-sm" type="submit">Publier</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- /Commentaires -->
						</div>
					</div>
					<!-- /Fiche -->
					
					<hr class="my-5">
					
					<!-- Fiche -->
					<div class="row">
						<div class="col-lg-5 col-xl-4">
							<div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
								<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(1).jpg" alt="Sample image">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
						</div>
						<div class="col-lg-7 col-xl-8">
							
							<div class='float-right d-flex flex-row'>
								<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
								<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
							</div>
							
							<a href="#!" class="primary-text">
								<h6 class="h6 pb-1"><span class="badge badge-primary"><i class="fas fa-hashtag pr-1"></i>SQL</span></h6>
							</a>
							<h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
							<p class="dark-grey-text">
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br><br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br><br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.<br>
								Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.
							</p>									<p>
								<i class='fa fa-user mr-2'></i><a class="font-weight-bold">Prénom Nom</a><br>
								<i class='fa fa-calendar mr-2'></i>19/04/2018 17:32
							</p>
							<!-- Commentaires -->
							<section class="mt-5">
								<div class="accordion md-accordion" id="accordionEx3" role="tablist" aria-multiselectable="true">
									<div class="card border-0 grey lighten-4">

										<div class="card-header" role="tab" id="headingTwo3">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx3" href="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
												<h5 class="mb-0">
													0 commentaires <i class="fas fa-angle-down rotate-icon"></i>
												</h5>
											</a>
										</div>

										<div id="collapseTwo3" class="collapse" role="tabpanel" aria-labelledby="headingTwo3" data-parent="#accordionEx3">
											<div class="card-body py-0">

												<!-- Écrire un commentaire -->
												<div class="form-group mt-4">
													<label for="quickReplyFormComment">Écrire un commentaire</label>
													<textarea class="form-control" id="quickReplyFormComment" rows="3"></textarea>

													<div class="text-right my-1">
														<button class="btn btn-primary btn-sm" type="submit">Publier</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- /Commentaires -->
						</div>
					</div>
					<!-- Fiche -->
					
					<hr class="my-5">
					
					<!-- Fiche -->
					<div class="row">
						<div class="col-lg-5 col-xl-4">
							<div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
								<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" alt="Sample image">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
						</div>
						<div class="col-lg-7 col-xl-8">
							
							<div class='float-right d-flex flex-row'>
								<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
								<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
							</div>
							
							<a href="#!" class="primary-text">
								<h6 class="h6 pb-1"><span class="badge badge-primary"><i class="fas fa-hashtag pr-1"></i>PHP</span></h6>
							</a>
							<h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
							<p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.</p>
							<p>
								<i class='fa fa-user mr-2'></i><a class="font-weight-bold">Prénom Nom</a><br>
								<i class='fa fa-calendar mr-2'></i>19/04/2018 17:32
							</p>
							<!-- Commentaires -->
							<section class="mt-5">
								<div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">
									<div class="card border-0 grey lighten-4">

										<div class="card-header" role="tab" id="headingTwo4">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
												<h5 class="mb-0">
													2 commentaires <i class="fas fa-angle-down rotate-icon"></i>
												</h5>
											</a>
										</div>

										<div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo4" data-parent="#accordionEx4">
											<div class="card-body py-0">
												<div class="media d-block d-md-flex mt-4">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
														Excepteur sint occaecat
														cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													</div>
												</div>

												<div class="media d-block d-md-flex mt-3">
													<div class="media-body text-center text-md-left md-3 ml-0">
														<div class='float-right d-flex flex-row'>
															<a href="#" title="Éditer"><i class="fa fa-edit fa-xs text-dark mr-2"></i></a>
															<a href="#" title="Supprimer"><i class="fa fa-trash fa-xs text-dark"></i></a>
														</div>
														<span><a class="font-weight-bold mb-0">Prénom Nom</a>, 19/04/2018 17:32</span><br>
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
														atque corrupti
														quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
														officia deserunt mollitia animi, id est laborum et dolorum fuga.
													</div>
												</div>

												<!-- Écrire un commentaire -->
												<div class="form-group mt-4">
													<label for="quickReplyFormComment">Écrire un commentaire</label>
													<textarea class="form-control" id="quickReplyFormComment" rows="3"></textarea>

													<div class="text-right my-1">
														<button class="btn btn-primary btn-sm" type="submit">Publier</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- /Commentaires -->
						</div>
					</div>
					<!-- Fiche -->

				</section>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small primary-color position-relative z-depth-1-half">
	<div class="footer-copyright text-center py-3">© 2020
		<a href="#"> BloG4</a>
	</div>
</footer>
<!-- Footer -->

<!--
<a href= {{ path('profil', {'id': app.user.id}) }}>Profil</a>
-->

{% endblock %}
