{% extends 'base.html.twig' %}

{% block body %}

<label for="inputTitle">Titre</label>
    <input type="text" name="title" id="inputTitle" class="form-control" required>

    <label for="inputText">Texte</label>
    <input type="text" name="text" id="inputText" class="form-control" required>

    <label for="inputFirstName">Nom</label>
    <input type="text" name="firstname" id="inputFirstName" class="form-control" required>
{% endblock %}