/*
 * 
 * 
 *  Custom CSS for the entire app 
 * 
 * 
 */

body, html{
	height: 100%;
}
#div_home_fil_actualite{
	margin-left: 17%;
}
.switch label input[type=checkbox]:checked+.lever:after{
	background-color: #4285f4;
}
.bg{
	background-image: url("../pictures/bg_connexion.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.center-div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
